.idea
.vscode
cmd/venom/bin
tests/pprof*
tests/.DS_Store
.DS_Store
vendor/
dist/
venom.log
*.so
foo.yml
dist
results
bin.test
profile.coverprofile
tests.log
*.dump.json
*.dump.html
*.jpg
./.venomrc
test_results.xml
*.prof
git-template
tests/grpc/pki
tests/pki_variables.yml
*.log
*.xml
test_results*.html
!venom_output.html
